
# Import all packages listed as Imports or Depends
import( MASS , quadprog , methods , shiny, Iso)

S3method( plot , clme)
S3method( summary , clme)

# Export all names
exportPattern("^[^\\.]")
